.title {
	font-size: 40px;
	font-family: "Anton", sans-serif;
}

.border {
	border: 3px solid #00b7ef;
	max-width: 800px;
	margin-bottom:10px;
}

.border  p{
	font-size: 16px;
	color: black;
}

.border .date {
	font-family: "Poiret One", cursive;
}
.border .posttitle {
	font-family: "Anton", sans-serif;
	font-size : 30px
	color:#00b7ef
}

.border .text{
	font-family: arial;
	color:#c1bfc0;
}
.border .author {
	font-family: "Pinyon Script", cursive;
	font-size: 24px;
	text-align: right;
}

.add {
	border: 1px dashed black;
	height: 50px;
	position:relative;
}

.add .btn-default{
	color: white;
	font-size:16px;
	background-color:#66CDAA;
	border-radius: 3px;
	vertical-align:middle;
	width:10%;
	top:50%;
	left:45%;
	transform:translateY(-50%);
	position:absolute;
}
