	{% extends "message/index.html" %}
	
	{% block content %}
	{% if posts.exists %}
	{% for post in posts %}
	<div class = "row">
		<div class = "column-xs-12 border">
			<p class = "date">{{post.post_date}}</p>
			<p class = "posttitle"><a href="{% url 'post_detail' pk=post.pk %}">{{post.post_title}}</a></p>
			<p class = "text">{{post.post_text|linebreaksbr}}</p>
			<p class = "author">{{post.post_author}}</p>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="row">
		<div class = "column-xs-12 nopost text-center nomsg">
			<p>No Messages...</p>
			<p>Click the '+' button to add a new message</p>
		</div>
	</div>
	{% endif %}
	<div class = "row">
		<div class = "column-xs-12 add">
		<a href="{% url 'post_new' %}"><button id="add" class = "btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button></a>
		</div>
	</div> 


	{% endblock %}