	{% extends "message/index.html" %}
	
	{% block content %}
		<div class = "row">
		<div class = "column-xs-12">
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
								<div class ="row">
					<div class = column-xs-12>
						<p class = "fdate">{{post.post_date}}</p>
					</div>
				</div>
				<div class = "row">
					<div class = "column-xs-12 form">
						<button name="delete" type="reset" class = "btn-default close"><i class="fa fa-times" aria-hidden="true"></i></button>
						<button type = "submit" class = "btn-default new"><i class="fa fa-check" aria-hidden="true"></i></button>
					</div>
				</div> 
			</form>
		</div>
	</div>

	{% endblock %}